%html
  %head
    %meta{ charset: "UTF-8" }
    %title Nike+ Exporter

    %link{ href: "css/style.css", type: "text/css", rel: "stylesheet" }
    %link{ href: "vendor/bootstrap/css/bootstrap.css", type: "text/css", rel: "stylesheet" }
    %link{ href: "vendor/bootstrap/css/bootstrap-responsive.css", type: "text/css", rel: "stylesheet" }

  %body
    %div= haml :nav
    %div.container= yield
