%html
  %head
    %meta{ charset: "UTF-8" }
    %title Nike+ Exporter

    %link{ href: "/vendor/bootstrap/css/bootstrap.css", type: "text/css", rel: "stylesheet" }
    %link{ href: "/vendor/bootstrap/css/bootstrap-responsive.css", type: "text/css", rel: "stylesheet" }
    %link{ href: "/css/style.css", type: "text/css", rel: "stylesheet" }

  %body
    %div.container= yield

    %script{ src: "/vendor/jquery-1.10.1.min.js", type: "text/javascript" }
    - settings.js_assets.each do |file|
      %script{ src: file, type: "text/javascript" }
