body {
  padding-top: 60px;
  background-color: #333;
}

.hero-unit {
  margin-bottom: 12px;
}

.hero-unit .row {
  margin-top: 30px;
}

.hero-unit .footer {
  margin-top: 50px;
}

.hero-unit .footer p {
  margin-bottom: 0;
}

input[type="text"],
input[type="password"] {
  height: 30px;
}

.ps {
  color: #AAA;
}

.ps p {
  float: right;
  width: 75px;
  padding: 0 0 0 5px;
  line-height: normal;
}

.ps img {
  float: right;
}

.icon-envelope {
  vertical-align: text-bottom;
  margin-right: 4px;
}
